# Ensemble Learning

## Initial Imports

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [16]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.ensemble import EasyEnsembleClassifier

## Read the CSV and Perform Basic Data Cleaning

In [17]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [18]:
# # Create our features
# X = # YOUR CODE HERE

# # Create our target
# y = # YOUR CODE HERE

y = df["loan_status"]
X = df.drop(columns="loan_status")

X = pd.get_dummies(X)

In [19]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [20]:
X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,9.60,0.0,0.0,9.0,0.0,2684.0,...,0,1,0,1,0,1,1,0,1,1
68813,12000.0,0.2727,368.37,63000.0,29.07,0.0,0.0,8.0,0.0,13314.0,...,0,1,0,1,0,1,1,0,1,1
68814,5000.0,0.1992,185.62,52000.0,14.86,0.0,0.0,5.0,1.0,3715.0,...,0,1,0,1,0,1,1,0,1,1
68815,40000.0,0.0646,1225.24,520000.0,9.96,0.0,1.0,21.0,0.0,59529.0,...,0,1,1,0,0,1,1,0,1,1
68816,16000.0,0.1131,350.36,72000.0,7.02,2.0,0.0,12.0,1.0,11882.0,...,0,1,0,1,0,1,1,0,1,1

In [21]:
X.drop('application_type_Individual', axis = 1, inplace = True) #need to drop more indicator variables

In [22]:
X.drop('hardship_flag_N', axis = 1, inplace = True)

In [23]:
X.drop('next_pymnt_d_Apr-2019', axis = 1, inplace = True)

In [24]:
X.drop('next_pymnt_d_May-2019', axis = 1, inplace = True)

In [25]:
# Check the balance of our target values
y = df["loan_status"].values.reshape(-1, 1)
y[:5]

array([['low_risk'],
       ['low_risk'],
       ['low_risk'],
       ['low_risk'],
       ['low_risk']], dtype=object)

In [26]:
y.ravel()

array(['low_risk', 'low_risk', 'low_risk', ..., 'low_risk', 'low_risk',
       'low_risk'], dtype=object)

In [27]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [28]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [29]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [30]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [31]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [32]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = brf.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.7626923005677555

In [33]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   64,    37],
       [ 1852, 15252]])

In [34]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.63      0.89      0.06      0.75      0.55       101
   low_risk       1.00      0.89      0.63      0.94      0.75      0.58     17104

avg / total       0.99      0.89      0.64      0.94      0.75      0.58     17205

In [35]:
# List the features sorted in descending order by feature importance
importances = brf.feature_importances_
indices = np.argsort(importances)[::-1]
for f in range(X.shape[1]):
    print(f"{X.columns.values[indices[f]]}: ({importances[indices[f]]})")

total_rec_prncp: (0.07741731370446459)
total_pymnt_inv: (0.05857085408649513)
total_pymnt: (0.05732563977090714)
total_rec_int: (0.05674328235724533)
last_pymnt_amnt: (0.054495591629041364)
int_rate: (0.030518142555528413)
mths_since_recent_inq: (0.019478358861534484)
issue_d_Jan-2019: (0.0192757593237611)
installment: (0.019025904572212864)
dti: (0.017770932102506968)
out_prncp: (0.01595185660593521)
max_bal_bc: (0.01592205931440947)
bc_util: (0.015249650117187869)
avg_cur_bal: (0.0152355446962303)
revol_bal: (0.015120033598165038)
out_prncp_inv: (0.015018056604239476)
mo_sin_old_rev_tl_op: (0.01477938696585941)
annual_inc: (0.014506703506894116)
tot_hi_cred_lim: (0.014190136377236692)
total_bc_limit: (0.01397213270768138)
il_util: (0.013865994470263385)
total_rev_hi_lim: (0.013679675747927179)
bc_open_to_buy: (0.013624904997802879)
all_util: (0.0136012405555715)
mths_since_rcnt_il: (0.013517137016031388)
total_bal_ex_mort: (0.013195200299769564)
tot_cur_bal: (0.013163459879130576)
mo_sin_old_il_acct: (0.013155233469891269)
total_bal_il: (0.013087247995918368)
issue_d_Mar-2019: (0.012923611265165136)
total_il_high_credit_limit: (0.01272213107958211)
loan_amnt: (0.012396664546125761)
mths_since_recent_bc: (0.012333954703282834)
num_rev_accts: (0.011169794931998744)
total_acc: (0.010772486155711974)
num_il_tl: (0.010480134489990807)
mo_sin_rcnt_rev_tl_op: (0.010359672575201309)
inq_last_12m: (0.010141930409470111)
num_sats: (0.009519348257432144)
mo_sin_rcnt_tl: (0.00949619834869151)
pct_tl_nvr_dlq: (0.009487538836086197)
num_op_rev_tl: (0.008946276356101485)
num_bc_tl: (0.008878598401461676)
acc_open_past_24mths: (0.008876556929420762)
open_acc: (0.008263454680830614)
num_rev_tl_bal_gt_0: (0.008156932078200011)
num_actv_rev_tl: (0.008078645718123296)
num_actv_bc_tl: (0.007904323579206085)
open_il_24m: (0.007493758921722574)
percent_bc_gt_75: (0.0073993157064265735)
num_tl_op_past_12m: (0.007226346273318153)
open_rv_24m: (0.0070570815686731)
inq_fi: (0.007057073609727827)
num_bc_sats: (0.007015200723606022)
total_rec_late_fee: (0.0069544265982297146)
total_cu_tl: (0.006511687811373231)
open_acc_6m: (0.006351225977240075)
open_act_il: (0.00627571847401443)
mort_acc: (0.006046863124802454)
inq_last_6mths: (0.005818138824840134)
open_rv_12m: (0.004737793439469042)
delinq_2yrs: (0.004047696006654421)
open_il_12m: (0.003991585081259599)
tot_coll_amt: (0.003910965828574314)
issue_d_Feb-2019: (0.0035961529842107724)
num_accts_ever_120_pd: (0.0033810322532264432)
verification_status_Not Verified: (0.002897121438646308)
application_type_Joint App: (0.002131688971877815)
home_ownership_RENT: (0.0021120708577554007)
verification_status_Verified: (0.002063885556406577)
pub_rec: (0.0019004004753352627)
home_ownership_OWN: (0.0018881496573875535)
home_ownership_MORTGAGE: (0.0018772791378838746)
verification_status_Source Verified: (0.0016941035944002297)
pub_rec_bankruptcies: (0.0016679406274694435)
initial_list_status_f: (0.0012769104564303074)
initial_list_status_w: (0.0011716214839453572)
num_tl_90g_dpd_24m: (0.0009722166113214855)
collections_12_mths_ex_med: (0.0005949320236418261)
home_ownership_ANY: (0.0002711413884495976)
chargeoff_within_12_mths: (0.00023521806281419383)
delinq_amnt: (7.5692169408536656e-06)
recoveries: (0.0)
collection_recovery_fee: (0.0)
policy_code: (0.0)
acc_now_delinq: (0.0)
num_tl_120dpd_2m: (0.0)
num_tl_30dpd: (0.0)
tax_liens: (0.0)
pymnt_plan_n: (0.0)
debt_settlement_flag_N: (0.0)

### Easy Ensemble Classifier

In [36]:
# Train the Classifier
classifier = EasyEnsembleClassifier(
    n_estimators=100,
    random_state = 1,
)

classifier.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [37]:
# Calculated the balanced accuracy score
classifier.predict(X_test_scaled)

array(['low_risk', 'high_risk', 'low_risk', ..., 'low_risk', 'low_risk',
       'low_risk'], dtype=object)

In [38]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   64,    37],
       [ 1852, 15252]])

In [39]:
# Print the imbalanced classification report


print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.63      0.89      0.06      0.75      0.55       101
   low_risk       1.00      0.89      0.63      0.94      0.75      0.58     17104

avg / total       0.99      0.89      0.64      0.94      0.75      0.58     17205

### Final Questions

1. Which model had the best balanced accuracy score?

 Balanced Random Forest Classifier was the higest score
    

2. Which model had the best recall score?

 They are the same

3. Which model had the best geometric mean score?

 They are the same 

4. What are the top three features?

 Total_rec_prncp: (0.07741731370446459)
 Total_pymnt_inv: (0.05857085408649513)
 Total_pymnt: (0.05732563977090714)